<div class="backdrop"></div>
<header class="main-header">
  <button id="side-menu-toggle">Menu</button>
  <nav class="main-header__nav">
    <ul class="main-header__item-list">
      <li class="main-header__item">
        <a class="<%= pageTitle==='Shop' ? 'active' : '' %>" href="/">Shop</a>
      </li>
      <li class="main-header__item">
        <a
          class="<%= pageTitle==='Products' ? 'active' : '' %>"
          href="/products"
          >Products</a
        >
      </li>
      <% if(isAuthenticated){ %>
      <li class="main-header__item">
        <a class="<%= pageTitle==='Cart' ? 'active' : '' %>" href="/cart"
          >Cart</a
        >
      </li>
      <li class="main-header__item">
        <a class="<%= pageTitle==='Orders' ? 'active' : '' %>" href="/orders"
          >Orders</a
        >
      </li>
      <li class="main-header__item">
        <a
          class="<%= pageTitle==='Add Product' ? 'active' : '' %>"
          href="/admin/add-product"
          >Add Product</a
        >
      </li>
      <li class="main-header__item">
        <a
          class="<%= pageTitle==='Admin Products' ? 'active' : '' %>"
          href="/admin/products"
          >Admin Products</a
        >
      </li>
      <% } %>
    </ul>
    <ul class="main-header__item-list">
      <% if(!isAuthenticated){ %>
      <li class="main-header__item">
        <a class="<%= pageTitle==='Login' ? 'active' : '' %>" href="/login"
          >Login</a
        >
      </li>
      <% } else{ %>
      <li class="main-header__item">
        <form action="/logout" method="POST">
          <button type="submit">Log Out</button>
        </form>
      </li>
      <% } %>
    </ul>
  </nav>
</header>

<nav class="mobile-nav">
  <ul class="mobile-nav__item-list">
    <li class="mobile-nav__item">
      <a class="<%= pageTitle==='Shop' ? 'active' : '' %>" href="/">Shop</a>
    </li>
    <li class="mobile-nav__item">
      <a class="<%= pageTitle==='Products' ? 'active' : '' %>" href="/products"
        >Products</a
      >
    </li>
    <% if (isAuthenticated) { %>
    <li class="main-header__item">
      <a class="<%= pageTitle==='Cart' ? 'active' : '' %>" href="/cart">Cart</a>
    </li>
    <li class="main-header__item">
      <a class="<%= pageTitle==='Orders' ? 'active' : '' %>" href="/orders"
        >Orders</a
      >
    </li>
    <li class="main-header__item">
      <a
        class="<%= pageTitle==='Add Product' ? 'active' : '' %>"
        href="/admin/add-product"
        >Add Product</a
      >
    </li>
    <li class="main-header__item">
      <a
        class="<%= pageTitle==='Admin Products' ? 'active' : '' %>"
        href="/admin/products"
        >Admin Products</a
      >
    </li>
    <% } %> <% if (!isAuthenticated) { %>
    <li class="main-header__item">
      <a class="<%= pageTitle==='Login' ? 'active' : '' %>" href="/login"
        >Login</a
      >
    </li>
    <% } else { %>
    <li class="main-header__item">
      <form action="/logout" method="POST">
        <button type="submit">Log Out</button>
      </form>
    </li>
    <% } %>
  </ul>
</nav>
